<%if user_signed_in? %>
	<h1> You're logged in! </h1>
<% else %>

	<div class="hero-unit">
		<h1>Welcome to Sports Blabber!</h1>
		<p>
			Sports fans are passionate. You've found the place where the most passionate conversations about sports happen.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		<p>
	</div>
<% end %>