<%if user_signed_in? %>
	<h1> You're logged in! </h1>
<% else %>

	<div class="hero-unit">
		<h1>Welcome to Sports Blabber!</h1>
		<p>
			Sports fans are passionate. You've found the place where you can have the most passionate conversations about sports.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
		<p>
			Blabbered here before? <%= link_to "Login.", new_user_session_path %>
		</p> 
	</div>
<% end %>